<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Game</th>
      <th>Item</th>
      <th>Total Harga</th>
      <th>Status</th>
      <th>Player Name</th>
      <th>Action(s)</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0;i < payment.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= payment[i].type %></td>
      <td>
        <% payment[i].banks.forEach(bank =>{ %> <%= bank.name %>--<%=
        bank.bankName %>--<%= bank.accountNumber %> <% }) %>
      </td>
      <td>
        <% if(payment[i].status === 'Y'){ %>
        <span class="badge badge-success"> Active </span>
        <% }else{ %>
        <span class="badge badge-danger"> Not Active </span>
        <%} %>
      </td>
      <td>
        <form
          action="/payment/status/<%= payment[i]._id %>?_method=PUT"
          style="display: inline-block"
          method="post"
        >
          <button class="btn btn-primary btn-sm">
            <i class="fas fa-folder"
              ><% if(payment[i].status === 'Y'){ %> Deactive <% }else{ %> Active
              <%} %></i
            >
          </button>
        </form>
        <form
          style="display: inline-block"
          action="/payment/delete/<%= payment[i]._id %>?_method=DELETE"
          method="post"
        >
          <a
            href="/payment/edit/<%= payment[i]._id %>"
            class="btn btn-info btn-sm"
            ><i class="fas fa-pencil-alt mr-2"></i>Ubah</a
          >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash mr-2"></i>Hapus
          </button>
        </form>
      </td>
    </tr>
    <% }%>
  </tbody>
</table>
